<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DEBUG</title>
    <script type="text/javascript" src="/libs/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/scripts/api.js"></script>
    <script type="text/javascript" src="/scripts/debug.js"></script>
</head>
<body>
</body>
</html>
