<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <script type="text/javascript" src="/libs/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/scripts/api.js"></script>
    <script type="text/javascript" src="/scripts/oauth.js"></script>
</head>
<body>
    <h1><%=text%></h1>
    <img src="https://api.yixin.im/cgi-bin/qrcode/showqrcode?ticket=<%=qrTicket%>" />
    <span class="data-stamp"><%=qrStamp%></span>
</body>
</html>
