<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>渠道智赢</title>
    <link rel="stylesheet" href="../components/details/css/details.css">
    <link rel="stylesheet" href="../components/common/css/common.css">
</head>
<body>
<div class="d-content">
    <h1 class="ft-18 col-333"></h1>
    <div class="ft-14 d-sub-title">
        <span><span style="margin-left: 10px;" class="time"></span> <span style="color:#3C72C4!important" class="name"></span></span>
        <span class="col-blue"></span>
    </div>
    <div class="d-info">
       <!-- <img src="../components/common/images/1.jpg" alt="">
        <p>2月23日，成都市农委联合华西都市报-封面新闻，重磅推出成都春季赏花地图。不管是“十里桃花”，还是“牧童遥指杏花村”，抑或是金色油菜花海洋……都能在这里找到，趁着周末带上家人，一起去享受春光，醉身花海。</p>
        <p>新都区白鹤岛上，油菜花沿河而绽。河边，有翠柳与油菜花呼应，让人感觉仿佛行走在画中。此外，还有1500亩梨花，可以体验一把执手“白头”。</p>
        <p>作为成都唯一喀斯特地貌区，大邑县雾山乡大坪村除了石林，还有资格的李花、梅花，以及农家乐、石林丰富项目。</p>
        <p>寻找“十里桃花”，来龙泉驿就行了。早春的缘故，2月开始，龙泉驿的桃花便已朵朵绽放，赶紧来看花、烧烤、逛古寺吧。</p>-->
    </div>
    <div class="d-collect icon_def " onselectstart="return false"></div>
</div>
<script type="text/javascript" src="../static/zepto.min.v1.2.0.js"></script>
<script type="text/javascript" src="../components/details/js/details.js"></script>
</body>
</html>